* {
  padding: 0%;
  margin: 0%;
}

.heading {
  padding-top: 40px;
  text-align: center;
  font-family: "Noto Serif JP", serif;
  color: #fff;
  font-size: 55px;
  font-weight: 800;
}

body {
  background-color: #000;
}

.home-image {
  background-image: url("./images/main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.home-image .name {
  color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 275px;
  padding-bottom: 0px;
  font-size: 140PX;
}
.home-image .dev {
  color: rgb(255, 255, 255);
  text-align: center;
  padding-bottom: 280px;
  font-size: 40PX;
}
.home-image nav {
  position: fixed;
  padding-top: 20px;
  width: 100%;
  transition: background-color 0.5s ease-in-out;
}
.home-image nav .navbar-brand {
  font-family: "Chivo Mono", monospace;
  font-family: "Rubik Wet Paint", cursive;
  font-size: 40px;
  color: #66d9ed;
}
.home-image nav .navbar-toggler {
  color: #fff;
  background-color: #dfb10c;
}
.home-image nav .navbar-collapse {
  padding-left: 370px;
}
.home-image nav .navbar-collapse .navbar-nav .nav-link {
  font-family: "Chivo Mono", monospace;
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.home-image nav.scrolled {
  /* set background color on scroll */
  margin-top: 0%;
  width: 100%;
  margin-left: -12px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.home-image nav.scrolled .nav-link {
  color: #dfb10c !important;
}
.home-image nav.scrolled .navbar-brand {
  visibility: hidden;
}

@media (max-width: 768px) {
  nav.scrolled .nav-link {
    background-color: #000;
  }
}
#about-section .about-page {
  /* border: 10px solid yellow; */
  height: 100vh;
}
#about-section .about-page .fa-brands {
  font-size: 40px;
  color: #dfb10c;
  letter-spacing: 20px;
}
#about-section .about-page .intro {
  padding-top: 20px;
}
#about-section .about-page .intro .intro-name {
  color: #dfb10c;
  font-family: "Noto Serif JP", serif;
  font-weight: 20px;
  font-size: 60px;
  padding-bottom: 20px;
}
#about-section .about-page .intro .intro-para {
  font-size: 25px;
  color: #fff;
  line-height: 2;
  padding-bottom: 30px;
  font-family: "Antic Slab", serif;
}
#about-section .about-page .intro .box {
  border: 1px solid #dfb10c;
  padding: 20px;
  color: #fff;
  font-family: "Antic Slab", serif;
  font-size: 18px;
}
#about-section .about-page .intro .about-btn {
  padding-top: 40px;
}
#about-section .about-page .img-section {
  text-align: center;
}
#about-section .about-page .img-section img {
  padding-top: 20px;
}
#about-section .about-page .img-section p {
  padding-top: 50px;
  color: #fff;
  font-size: 30px;
  /* width: 670px; */
  /* height: 810px; */
}
#about-section .about-page .img-section div:last-child {
  padding-top: 60px;
}

#skill-section .skill-page .skill-icon {
  text-align: center;
  color: #fff;
  background-color: #333;
  border-radius: 20px;
  font-size: 80px;
  margin-top: 50px;
  margin-left: 80px;
  text-align: center;
  padding-bottom: 70px;
}
#skill-section .skill-page .skill-icon h1 {
  color: #fff;
  padding-bottom: 50px;
  padding-top: 20px;
  font-family: "Antic Slab", serif;
}
#skill-section .skill-page .last-child {
  padding-bottom: 80px;
}

#projects {
  height: 100vh;
}
#projects .carousel {
  padding-top: 40px;
}
#projects .read-btn {
  padding-top: 20px;
  text-align: end;
}

#contact-section {
  background-color: #000;
}
#contact-section .last-child {
  font-size: 2.5vh;
  color: #fff;
}
#contact-section .row {
  margin-top: 4vh;
  padding-bottom: 50px;
}
#contact-section .row .col-sm-4 {
  background-color: #333;
  color: #fff;
  border-radius: 20px;
  padding: 7vh;
}
#contact-section .row .col-sm-4 h2 {
  padding-bottom: 1.5vh;
  font-family: "Antic Slab", serif;
  font-weight: 600;
}
#contact-section .row .col-sm-4 P {
  padding-bottom: 3vh;
}
#contact-section .row .col-sm-4 .icon {
  font-size: 2.5vh;
  color: #dfb10c;
}
#contact-section .row .col-sm-4 .contact-icons {
  padding-top: 9.5vh;
  word-spacing: 10px;
}
#contact-section .row .col-sm-4 .contact-icons .fa-brands {
  font-size: 3vh;
  padding: 1vh;
}
#contact-section .row .col-sm-4 .contact-icons .fa-brands:hover {
  background-color: #dfb10c;
  border-radius: 6vh;
}
#contact-section .row .col-sm-8 .col-sm-6 {
  padding-left: 8vh;
}
#contact-section .row .col-sm-8 .col-sm-6 label {
  padding-bottom: 4vh;
  color: #fff;
  font-family: "Antic Slab", serif;
  font-size: 25px;
}
#contact-section .row .col-sm-8 .col-sm-6 .top-padding {
  padding-top: 8vh;
}
#contact-section .row .col-sm-8 .col-sm-6 input {
  border: none;
  background-color: #000;
  border-bottom: 1px solid #dfb10c;
}
#contact-section .row .col-sm-8 .message {
  padding-left: 7vh;
}
#contact-section .row .col-sm-8 .top-padding {
  padding-top: 8vh;
}
#contact-section .row .col-sm-8 input {
  border: none;
  border-bottom: 1px solid #dfb10c;
  background-color: #000;
}
#contact-section .row .col-sm-8 label {
  padding-bottom: 4vh;
  color: #fff;
  font-family: "Antic Slab", serif;
  font-size: 25px;
}
#contact-section .row .col-sm-8 .send-btn {
  padding-top: 8vh;
  text-align: right;
}

@media only screen and (max-width: 320px) {
  .name {
    font-size: 35px !important;
    padding-top: 305px !important;
    padding-bottom: 0px !important;
  }
  .dev {
    font-size: 12px !important;
  }
  .navbar .container-fluid {
    padding-right: 35px !important;
  }
  .navbar .container-fluid .navbar-brand {
    font-size: 15px !important;
  }
  .navbar .container-fluid .navbar-toggler {
    font-size: 10px !important;
  }
  .navbar .container-fluid .navbar-collapse {
    padding-left: 0px !important;
  }
  .navbar .container-fluid .navbar-collapse .navbar-nav .nav-link {
    font-size: 13px !important;
  }
  #about-section .intro .box {
    font-size: 14px !important;
  }
  #about-section .intro .icons {
    padding-top: 50px !important;
  }
  #about-section .img-section img {
    width: 260px;
  }
  #about-section .img-section p {
    font-size: 25px !important;
  }
  #skill-section {
    padding-top: 585px;
  }
  #skill-section .skill-page .skill-heading {
    padding-top: 10px;
  }
  #skill-section .skill-page .skill-icon {
    margin-left: 0px;
  }
  #contact-section .sec-2 .col-sm-6 {
    padding-left: 3vh !important;
  }
  #contact-section .sec-2 .col-sm-6 input {
    width: 35vh !important;
  }
  #contact-section .sec-2 .col-sm-6 label {
    padding-top: 5vh;
  }
  #contact-section .sec-2 .message {
    padding-left: 2vh !important;
  }
  #contact-section .sec-2 input {
    width: 35vh !important;
  }
  #contact-section .sec-2 .send-btn {
    margin-right: 7px;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .name {
    font-size: 45px !important;
    padding-top: 305px !important;
  }
  .dev {
    font-size: 18px !important;
  }
  .navbar .container-fluid {
    padding-right: 32px !important;
  }
  .navbar .container-fluid .navbar-brand {
    font-size: 20px !important;
  }
  .navbar .container-fluid .navbar-toggler {
    font-size: 12px !important;
  }
  .navbar .container-fluid .navbar-collapse {
    padding-left: 0px !important;
  }
  .navbar .container-fluid .navbar-collapse .navbar-nav .nav-link {
    font-size: 15px !important;
  }
  #about-section .intro .box {
    font-size: 14px !important;
  }
  #about-section .intro .icons {
    padding-top: 50px !important;
  }
  #about-section .img-section img {
    width: 260px;
  }
  #about-section .img-section p {
    font-size: 25px !important;
  }
  #skill-section {
    padding-top: 585px;
  }
  #skill-section .skill-page .skill-heading {
    padding-top: 10px;
  }
  #skill-section .skill-page .skill-icon {
    margin-left: 0px;
  }
  #contact-section .sec-2 .col-sm-6 {
    padding-left: 5vh !important;
  }
  #contact-section .sec-2 .col-sm-6 input {
    width: 36vh !important;
  }
  #contact-section .sec-2 .col-sm-6 label {
    padding-top: 6vh;
  }
  #contact-section .sec-2 .message {
    padding-left: 3vh !important;
  }
  #contact-section .sec-2 input {
    width: 37vh !important;
  }
  #contact-section .sec-2 .send-btn {
    margin-right: 22px;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .name {
    font-size: 55px !important;
    padding-top: 305px !important;
  }
  .dev {
    font-size: 24px !important;
  }
  .navbar .container-fluid {
    padding-right: 35px !important;
  }
  .navbar .container-fluid .navbar-brand {
    font-size: 35px !important;
  }
  .navbar .container-fluid .navbar-collapse {
    padding-left: 0% !important;
  }
  .navbar .container-fluid .navbar-collapse .navbar-nav .nav-link {
    font-size: 17px !important;
  }
  #about-section .intro .box {
    font-size: 14px !important;
  }
  #about-section .intro .icons {
    padding-top: 50px !important;
  }
  #about-section .img-section img {
    width: 260px;
  }
  #about-section .img-section p {
    font-size: 25px !important;
  }
  #skill-section {
    padding-top: 585px;
  }
  #skill-section .skill-page .skill-heading {
    padding-top: 10px;
  }
  #skill-section .skill-page .skill-icon {
    margin-left: 0px;
  }
  #contact-section .sec-1 {
    padding: 3vh !important;
  }
  #contact-section .sec-1 p {
    padding-bottom: 5vh !important;
    font-size: 11px;
  }
  #contact-section .sec-1 .contact-icons {
    padding-top: 5.5vh !important;
  }
  #contact-section .sec-2 .col-sm-6 {
    padding-left: 5vh !important;
  }
  #contact-section .sec-2 .col-sm-6 input {
    width: 43vh !important;
  }
  #contact-section .sec-2 .col-sm-6 label {
    padding-top: 6vh;
  }
  #contact-section .sec-2 .message {
    padding-left: 3vh !important;
  }
  #contact-section .sec-2 input {
    width: 43vh !important;
  }
  #contact-section .sec-2 .send-btn {
    margin-right: 28px;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .name {
    font-size: 95px !important;
    padding-top: 305px !important;
  }
  .dev {
    font-size: 35px !important;
  }
  .navbar .container-fluid {
    padding-right: 35px !important;
  }
  .navbar .container-fluid .navbar-brand {
    margin-right: 350px;
    font-size: 45px !important;
  }
  .navbar .container-fluid .navbar-collapse {
    padding-left: 0% !important;
  }
  #about-section .intro .box {
    font-size: 14px !important;
  }
  #about-section .intro .icons {
    padding-top: 50px !important;
  }
  #about-section .img-section img {
    width: 260px;
  }
  #about-section .img-section p {
    font-size: 25px !important;
  }
  #skill-section {
    padding-top: 110px;
  }
  #skill-section .skill-page .skill-heading {
    padding-top: 10px;
  }
  #skill-section .skill-page .skill-icon {
    margin-left: 50px;
    font-size: 70px;
  }
  #contact-section .sec-1 {
    padding: 3vh !important;
  }
  #contact-section .sec-1 p {
    padding-bottom: 5vh !important;
    font-size: 11px;
  }
  #contact-section .sec-1 .contact-icons {
    padding-top: 5.5vh !important;
  }
  #contact-section .sec-2 .col-sm-6 input {
    width: 20vh !important;
  }
  #contact-section .sec-2 input {
    width: 50vh !important;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .name {
    font-size: 130px !important;
    padding-top: 270px !important;
  }
  .dev {
    font-size: 50px !important;
  }
  .navbar {
    padding-left: 0% !important;
  }
  .navbar .navbar-brand {
    font-size: 35px !important;
  }
  .navbar .navbar-collapse {
    padding-left: 65px !important;
  }
  .navbar .navbar-collapse .navbar-nav .nav-link {
    font-size: 16px !important;
  }
  #about-section .intro .box {
    font-size: 15px !important;
  }
  #about-section .intro .icons {
    padding-top: 50px !important;
  }
  #about-section .img-section img {
    width: 310px;
  }
  #about-section .img-section p {
    font-size: 25px !important;
  }
  #contact-section .sec-1 {
    padding: 3vh !important;
  }
  #contact-section .sec-1 h2 {
    padding-bottom: 2.5vh !important;
  }
  #contact-section .sec-1 p {
    padding-bottom: 5vh !important;
  }
  #contact-section .sec-1 .contact-icons {
    padding-top: 5.5vh !important;
  }
  #contact-section .sec-2 .col-sm-6 input {
    width: 30vh !important;
  }
  #contact-section .sec-2 input {
    width: 70vh !important;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .name {
    font-size: 130px !important;
    padding-top: 390px !important;
  }
  .dev {
    font-size: 50px !important;
  }
  .navbar {
    padding-left: 0% !important;
  }
  .navbar .navbar-brand {
    font-size: 45px !important;
  }
  .navbar .navbar-collapse {
    padding-left: 115px !important;
  }
  .navbar .navbar-collapse .navbar-nav .nav-link {
    font-size: 22px !important;
  }
}/*# sourceMappingURL=index.css.map */